parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method WC_Product\\:\\:get_available_variations\\(\\)\\.$#"
			count: 1
			path: includes/class-admin.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: includes/class-admin.php

		-
			message: "#^Right side of && is always false\\.$#"
			count: 3
			path: includes/class-admin.php

		-
			message: "#^Variable \\$role_options in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: includes/class-admin.php

		-
			message: "#^Call to an undefined method WC_Order_Item\\:\\:get_product_id\\(\\)\\.$#"
			count: 1
			path: includes/class-core.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: includes/class-core.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: includes/class-core.php

		-
			message: "#^Property MaxtDesign_RBP_Core\\:\\:\\$cache_duration is never read, only written\\.$#"
			count: 1
			path: includes/class-core.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: includes/class-core.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: includes/class-core.php

		-
			message: "#^is_wp_error\\(array\\<WC_Order\\>\\|stdClass\\) will always evaluate to false\\.$#"
			count: 1
			path: includes/class-core.php

		-
			message: "#^Property MaxtDesign_RBP_Frontend\\:\\:\\$core is never read, only written\\.$#"
			count: 1
			path: includes/class-frontend.php

		-
			message: "#^Call to an undefined method WC_Order_Item\\:\\:get_product_id\\(\\)\\.$#"
			count: 1
			path: maxtdesign-role-based-pricing.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: maxtdesign-role-based-pricing.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 1
			path: maxtdesign-role-based-pricing.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: maxtdesign-role-based-pricing.php

		-
			message: "#^Right side of && is always false\\.$#"
			count: 1
			path: maxtdesign-role-based-pricing.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: maxtdesign-role-based-pricing.php
